<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
	  <meta name = "viewport" content = "width=device-width; initial-scale = 1; maximum-scale=1; user-scalable = no;" />
		
		<title>Hair Salon</title>

		<!-- external CSS link -->
		<script src="https://kit.fontawesome.com/7ffdd2d782.js" crossorigin="anonymous"></script>

		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header>
			<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
				<div class="nav_h1Container">
					<h1>Ayesha</h1>
				</div>
				<!-- <a class="navbar-brand logo" href="https://flowster.app/">
					<img src="img/Flowster-Logo-v2-WP-266x90.png" alt="Flowster">
				</a>         -->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
						<a class="nav-link" href="#offer">Who we are...</a>
						</li>
						<li class="nav-item">
						<a class="nav-link" href="#stylists">Stylists</a>
						</li>
						<li class="nav-item sign-up">
						<a class="nav-link" href="#mediaGallery">Images</a>
						</li>            
					</ul>
				</div>
			</nav>
			<!-- <nav class="nav_mainContainer">
				<div class="nav_h1Container">
					<h1>Ayesha</h1>
				</div>
				<ul class="nav_navContainer">
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Services</a></li>
					<li><a href="#">Lookbook</a></li>
					<li><a href="#">News</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
				<div class="nav_iconsContainer">
					<i class="fas fa-search"></i>
					<i class="fas fa-shopping-cart"></i>
				</div>
				<div class="nav_bookFunctionContainer">
					<span>__</span>
					<p>Book Online</p>
				</div>
			</nav> -->
		</header>
		<main>
			<section class="main_section">
				<section class="main_sectionTop">
					<article class="article_one">
						<h1>Blonde <br>& Highlight</h1>
						<p>divide you uniquenesss by your hairs in tyler</p>
						<button type="button">- Our Services</button>
						<div class="bottom_leftBlackBox">
							<p>your first visit ?</p>
							<p class="ad"><span>-20%</span> for the first Classic Hair Coloring</p>
							<button type="button">- Book Online</button>
						</div>
					</article>
					<article class="article_two">
						<div class="p">
							<p>Mon - sun : 7:00am - 8:00pm</p>
						</div>
						<div class="button_container">
							<Button type="button" class="left"><i class="fas fa-long-arrow-alt-left"></i></Button>
							<Button type="button" class="right"><i class="fas fa-long-arrow-alt-right"></i></Button>
						</div>
					</article>
				</section>
				<section id='offer' class="main_sectionBottom">
					<section>
						<i class="far fa-id-card"></i>
						<h4>Expert Beauticians</h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>Lorem ipsum dolor sit amet consectetur adi</p>
					</section>
					<section>
						<i class="far fa-id-card"></i>
						<h4>Expert Beauticians</h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>Lorem ipsum dolor sit amet consectetur adi</p>
					</section>
					<section>
						<i class="far fa-id-card"></i>
						<h4>Expert Beauticians</h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>Lorem ipsum dolor sit amet consectetur adi</p>
					</section>
				</section>
				<section class="third_section">
					<div>
						<article>
							<h4>Make your <br> Own Momentum</h4>
							<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga odit a ducimus 
								enim, suscipit nulla minus dignissimos obcaecati quisquam tenetur deserunt, 
								explicabo id maiores, quod itaque. Omnis eum rerum</p>
							<button type="button">- READ MORE</button>
						</article>
						<figure>
							<img src="../template/css/Video_placeholder.jpg" alt="">
						</figure>
					</div>
				</section>
				<section id = 'stylists' class="fourth_section">
					<div class="fourth_sectionContainer">
						<section class="section_imgHolder">
							<img src="../Left_stylist.png" alt="Hair Stylist - Some Name Here">
						</section>
						<section class="name_plate one">
							<p>Abbey</p>
							<p>Stylist</p>							
						</section>
						<section class="section_imgHolder">
							<img src="../Left_stylist.png" alt="Hair Stylist - Some Name Here">
						</section>
						<section class="name_plate two">
							<p>Chloe</p>
							<p>Stylist</p>						
						</section>
						<section class="section_imgHolder">
							<img src="../Left_stylist.png" alt="Hair Stylist - Some Name Here">
						</section>
						<section class="name_plate three">
							<p>Emily</p>
							<p>Manager</p>							
						</section>
					</div>
				</section>
				<section class="fifth_section">
					<article class="fifth_sectionContainer">
						<article>
							<p>Colour day offer</p>
							<p><span>-10%</span> ON HAIRCUT</p>
							<p>COLOR AND HIGHTLIGHT</p>
							<button type="button">- Book Appointment</button>
						</article>
					</article>
				</section>
				<section id='mediaGallery' class="sixth_section">
					<article>
						<h2>Our LOOKBOOK</h2>
						<span>__</span>
					</article>
					<div class="sixth_sectionContainer">
						<section>
							<div class="one"></div>
							<div class="two"></div>	
						</section>
						<section class="middle_column">
							<div class="two"></div>	
							<div class="one"></div>	
						</section>
						<section>
							<div class="one"></div>
							<div class="two"></div>	
						</section>
					</div>
				</section>
			</section>
		</main>
		<footer>

		</footer>
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
