<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Restaurant Layout</title>

		<!-- external CSS link -->
		<script src="https://kit.fontawesome.com/7ffdd2d782.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header>
			<nav>
				<figure>
					<img src="" alt="Company Logo">
				</figure>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">About Us</a></li>
					<li><a href="#">Menu</a></li>
					<li><a href="#">Order Now</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Location</a></li>
				</ul>
				<div>
					<i class="fas fa-shopping-cart"></i>
					<i class="fas fa-search"></i>
				</div>
			</nav>
		</header>
		<main>
			<section class="main_section">
					<article>
						<h1>Welcome <br> To our Cuisine <br> Restaurant</bvr></h1>
						<form action="index.html" method="GET">
							<i class="fas fa-search"></i><input type="search" placeholder="Search Here..">
							<button type="button"> Location ^</button>
						</form>
						<div class="main_sectionDiv">
							<div>
								<i class="fab fa-facebook-f"></i>
								<span>342</span>
							</div>
							<div>
								<i class="fab fa-twitter"></i>
								<span>98</span>
							</div>
							<div>
								<i class="fab fa-instagram"></i>
								<span>148</span>
							</div>
						</div>
					</article>
			</section>
			<section class="second_section">
				<article>
					<p>About us</p>
					<h2>Discover Our <br> Restaurant Story</h2>
					<p class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae quaerat 
						accusamus eos assumenda dolorum, iste iusto corrupti expedita, praesentium 
						rum voluptatem odit cupiditate nisi, reprehenderit dolorem quasi aliquam? Ut, 
						vero. Lorem
					</p>
					<p class="p">
						Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae quaerat 
						accusamus eos assumenda dolorum, iste iusto corrupti expedita
					</p>
					<button type="button">Discover Menu <i class="fas fa-long-arrow-alt-right"></i></button>
				</article>
			</section>
			<section class="third_section">
				<section class="third_sectionContainer">
					<article>
						<p>order online now</p>
						<h4>Our specialty Cuisine</h4>
						<ul>
							<li><a href="#">Breakfast</a></li>
							<li><a href="#">lunch</a></li>
							<li><a href="#">Breakfast</a></li>
							<li><a href="#">Breakfast</a></li>
							<li><a href="#">Breakfast</a></li>
						</ul>
					</article>
					<section>
						<figure>

						</figure>
						<figure>
							
						</figure>
						<figure>
							
						</figure>
						<figure>
							
						</figure>
						<figure>
							
						</figure>
						<figure>
							
						</figure>
						<figure>
							
						</figure>
						<figure>
							
						</figure>
					</section>
				</section>
			</section>
		</main>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
