/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* Header
/*******************************************/
header {
  /* border: 1px solid red; */
  width: 100%;
  height: 5vh;
  background: rgb(255, 102, 102);
}
nav {
  display:flex;
  padding-top: 15px;
  width: 100%;
  height: 100%;
}
nav figure, nav ul,nav div {
  /* border: 1px solid blue; */
  width: 30%;

}
nav ul {
  display: flex;
  width: 50%;
  justify-content: space-around;
}
nav ul a {
  color: black;
  text-decoration: none;
  font-size: 1.3rem;
}
nav div {
  width: 20%;
  padding-left: 2%;
  display: flex;
}
nav div i {
  font-size: 1.3rem;
  width: 50px;
}

/******************************************
/* Main Section
/*******************************************/

.main_section {
  background-image: url(./louis-hansel_Main_restaurantPhoto.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: flex;
  height: 100vh;
  width: auto;
  /* border: 2px solid purple; */
}
.main_section article {
  margin-left: 5%;
  align-self: center;
  width: 30%;
  height: 500px;
}
.main_section article h1 {
  font-size: 5rem;
  color: whitesmoke;
}
.main_section article form {
  position: relative;
  /* border: 1px solid blue; */
  height: 50px;
  width: 500px;
}
.main_section article form i {
  position: absolute;
  color: rgb(255, 102, 102);
  top: 10px;
  left: 5px;
  font-size:1.5rem;
}
.main_section article form input {
  height: 100%;
  width: 75%;
}
.main_section article form input::placeholder {
  padding-left: 30px;
  font-size: 1.2rem;
  color: rgb(255, 102, 102);
}
.main_section article button {
  border-radius: 5px;
  font-size: 1.3rem;
  width: 24.2%;
  height: 100%;
  color: whitesmoke;
  background: rgb(255, 102, 102);
}

.main_sectionDiv {
   display: flex;
   width: 300px;
   height: 100px;
 }
 .main_sectionDiv div {
   padding-top: 20px;
   width: 33.33%;
 }
 .main_sectionDiv i,.main_sectionDiv span {
  font-size: 1.6rem;
  font-weight: bold;
  color: rgb(255, 102, 102);
  padding-right: 10px;
 }
 .main_sectionDiv span {
   color: whitesmoke;

 }

/******************************************
/* Second Section
/*******************************************/
.second_section {
  background-image: url(./louis-hansel-TableTop_Food.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  height: 110vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.second_section::after {
  content: ' ';
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,0) 28%, rgba(255,255,255.908000700280112) 75%);
  position: absolute;
    display: block;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .6;
}
.second_section article {
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 30%, rgba(255,255,255,0.3785889355742297) 100%);
  /* margin-bottom: 5%;
  margin-right: 2%; */
  width: 1100px;
  height: 100%;
  /* border: 2px solid red; */
  opacity: .9;
}
.second_section article > p {
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 1px black;
  color: rgb(204, 78, 78);
  margin-top: 200px;
  margin-bottom: 15px;
}
.second_section article h2 {
  /* text-shadow: 1px 1px rgb(255, 102, 102); */
  font-size: 5rem;
  color: black;
}
.second_section .p {
  text-align: justify;
  margin-top: 25px;
  font-size: 1.4rem;
  padding-right: 450px;
  color: black;
  /* text-shadow: 1px 1px rgb(255, 102, 102); */
}
.second_section button {
  font-size: 1.2rem;
  margin-top: 20px;
  color: whitesmoke;
  background: rgb(255, 102, 102);
  border: none;
  height: 50px;
  width: 200px;
}
/******************************************
/* Third section
/*******************************************/
.third_section {
  height: 110vh;
  width: 100%;
  /* border: 1px solid blue; */
}
.third_sectionContainer {
 /* border: 1px solid red; */
 width: 100%;
 height: 100%;
}
.third_sectionContainer article {
  text-align: center;
}
.third_sectionContainer article P {
  color: rgb(255, 102, 102);
  font-size: 1.2rem;
  margin: 15px 0;
}
.third_sectionContainer article h4 {
  font-size: 4rem;
  margin-bottom: 20px;
}
.third_sectionContainer article ul {
  display: flex;
  justify-content: center;
}
.third_sectionContainer ul li {
  height: 50px;
  margin: 0px 25px;
}
.third_sectionContainer ul li a {
  text-decoration: none;
  font-size: 1.3rem;
  color: black;
}
.third_sectionUl .activeText {
  color: rgb(255, 102, 102);
}
.third_sectionUl .active {
  border-bottom: 2px solid rgb(255, 102, 102);
}
.third_sectionImgMain {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  height: 70%;
  /* border: 1px solid blue; */
}
.third_sectionImgContaintainer {
margin-right: 10px;
  height: 45%;
  width: 24%;
  background: rgb(167, 167, 255);
}
.third_sectionContainer .img_pageIndicators {
  justify-content: center;
  height: 50px;
  margin-top: 20px;
  display: flex;
}
.img_pageIndicators span {
  padding-right: 10px;
  font-size: 2rem;
  color: rgb(255, 102, 102);
  opacity: .6;
}
.img_pageIndicators .activeText {
  opacity: 1;
  font-size: 2.5rem;
}
/******************************************
/* Fourth_section
/*******************************************/
.fourth_section {
  width: 100%;
  height: 90vh;
  /* border: 1px solid red; */
}
.fourth_mainSectionTop {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 95%;
  /* border: 1px solid green; */
  height: 40%;
}
.fourth_sectionTopContainer {
  text-align: center;
  width: 100%;
  height: 80%;
  
}
.fourth_sectionTopContainer > p {
  padding-top: 20px;
  color: rgb(255, 102, 102);
  font-size: 1.3rem;
}
.fourth_sectionTopContainer h4 {
  padding-top: 15px;
  padding-bottom: 25px;
  font-size: 3.5rem;
}
.fourth_sectionTopContainer i {
  font-size: 4rem;
  color: rgb(255, 102, 102);
}
.fourth_sectionTopContainer > p:nth-child(4) {
  color: black;
}
.fourth_sectionTopContainer > p:nth-child(5) {
  font-weight: bold;
  padding-top: 10px;
  font-size: 2rem;
}
.fourth_sectionBottomContainer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 20%;
  
}
.bottom_containerLeft,.bottom_containerRight {
  text-align: center;
  
  height: 90%;
  width: 40%;
}
.fourth_sectionBottomContainer > div > p {
  font-size: 1.2rem;
}
.fourth_sectionBottomContainer > div > p + p {
  font-size: 2rem;
  font-weight: bold;
}
.fourth_sectionBottomContainer p{
  padding-bottom: 15px;
}
.fourth_mainSectionBottom {
  margin: 0 auto;
  display: flex;
  height: 50%;
  width: 95%;
  /* border: 1px solid blue; */
}
.fourth_mainSectionBottom figure {
  background: rgb(255, 184, 184);
  width: 80%;
}
.fourth_mainSectionBottom i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  font-size: 3rem;
  color: rgb(255, 102, 102);
}

/******************************************
/* Fifth section
/*******************************************/
.fifth_section {
  text-align: center;
 width: 100%;
 height: 80vh;
 /* border: 1px solid green;  */
}
.fifth_section > p {
  font-size: 1.5rem;
  padding: 20px 0;
  color: rgb(255, 102, 102);
}
.fifth_section > h5 {
  font-size: 5rem;
  color: black;
  padding-bottom: 20px;
}
.fifth_section div figure {
  display: flex;
  justify-content: center;
}
.fifth_section div h6{
  margin-top: 15px;
  font-size: 2rem;
}
.fifth_section div > div {
  margin-top: 20px;
}
.fifth_section div > div i {
  font-size: 1.3rem;
  padding: 0 3px;
  color: gold;
  margin-bottom: 15px;
}
.fifth_section div figure > div {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  /* border: 1px solid red; */
}
.fifth_section div figure > div img {
  border-radius: 50%;
  width: auto;
height: 100%
}
.fifth_section .review {
  padding: 0 20%;
  font-size: 1.3rem;
  line-height: 2rem;
  margin-bottom: 30px;
}



/******************************************
/* Footer section
/*******************************************/
footer {

}
