/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  background: rgb(245,249,252);
}
.darkGrey {
  color: rgb(48,70,89);
}


/******************************************
/* Header
/*******************************************/
header {
  width: 100%;
  height: 50px;
  
}
header nav figure, header nav ul {
  float: left;
  width: 33.33%;
}
header nav figure {
  height: 100%;
}
header nav img {
padding-left: 15px; 
  width: 25%;
  height: auto;
}
nav ul {
  padding-top: 15px;
}
nav ul a {
  color: rgb(48,70,89);
  text-decoration: none;
}
header nav button {
  height: 30px;
  width: 15%;
  margin: 10px 0px 0px 80%;
  color: white;
  background: rgb(48,70,89);
  font-weight: bold;

}
header > nav li {
  float: left;
  padding: 0px 10px;
}




/******************************************
/* Main
/*******************************************/

/******************************************
/* Top section
/*******************************************/

main > section {
  width: 100%;
  height: 60vh;

}
section > article, section > figure {
  float: left;
  width: 50%;
  
  height: 100%;
}
section > section article {
  padding-left: 100px;
  width: 100%;
}
.section_top > section {
  float: left;
  width: 50%;
}
.section_top span{
  display: inline-block;
  font-size: .8rem;
  margin-top: 50px;
  margin-bottom: 20px;
}
.section_top h1 {
  font-weight: bold;
  font-size: 2.5rem;
  padding-right: 53%;
}
.section_top form {
  display: inline-block;
  width: auto;
  height: auto;
  margin-top: 40px;
  margin-bottom: 20px;
}
.section_top form input {
  background: rgb(224,231,239);
  height: 30px;
  width: 250px;
}
.section_top form input::placeholder {
  color: rgb(48,70,89);
}
.section_top button {
  margin-left: -5px;
  height: 30px;
  color: white;
  background: rgb(48,70,89);
  font-weight: bold;
}
.section_top p {
  font-size: 1.3rem;
  padding-right: 300px;
}
.section_top img {
  width: 100%;
  height: 100%;
}


/******************************************
/* Second section
/*******************************************/

main > section + section {
  height: 40vh;
  width: 100%;
  
}

main > section + section article {
width: 25%;
float: left;
height: 100%;
}
.section_second span a {
  display: inline-block;
}
.section_second i,.section_second h3, .section_second p,.section_second a {
  margin-top: 20px;
  margin-left: 30px
}
.section_second i {
  margin-top: 35px;
  font-size: 40px;
}
.section_second h3 {
  font-size: 2rem;
  font-weight: bold;
}
.section_second p {
  font-size: 1.3rem;
}
.section_second a {
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: bold;
  color: rgb(48,70,89);
}
/******************************************
/* Second section
/*******************************************/
.section_second + section {
  background: white;
}
.section_second + section h1 {
  margin-top: 50px;
  margin-left: 50px;
  font-size: 3rem;
}
.section_second + section p {
  margin-top: 20px;
  margin-left: 50px;
  font-size: 1.3rem;
}


/******************************************
/* Footer
/*******************************************/

footer {

}

/******************************************
/* Media Query - 
/*******************************************/


@media screen and (max-width:425px) {
 

/******************************************
/* Media Query - Nav
/*******************************************/
 header nav ul {
  visibility: hidden;
  }

  header nav img {
    width: 100%;
  }

  header nav button {
    margin-top: 20px;
    margin-left: 10px;
    width: 110px;
  }

  section > figure {
    height: 300px;
    width: 100%;
  }

  .section_top h1 {
    padding-right: 0px;
  }
  section > section article {
    height: 400px;
    padding-left: 30px;
    width: 425px;
  }
  .section_top p {
    padding-right: 20px;
  }
  main > section + section article {
    height: 225px;
    width: 100%;
  }
  .section_top img {
    height: 100%;
  }
  main > section + section {
    height: 105vh;
  }
  main > section {
    height: 90vh;
  }


 
  






} 











